*{
    margin: 0;
    font-weight: normal;
}
body{
    color: #333;
    font-size:100%;
    font-family: sans-serif;
}
li{
    list-style:none;
}
#weather_info{
    position: relative;
    width: 100%;
    background:linear-gradient(20deg, rgb(3, 45, 149), rgb(112, 108, 153));
    color: white;
    height: 100vh;
}
section{
    overflow: hidden;
    color: #fff;
    text-shadow: 1px 1px 1px #999;
    padding: 10px 10px;
    margin: 0 auto;
}
.all{
    width: 60%;
    margin: 0 auto;
}
.w-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.city{
    padding-top: 7%;
    font-size: 4rem;
}
.icon{
    font-size: 120px !important;
    padding: 2% 0;
}
.w_id{
    font-size: 1.5rem;
}
.temp{
    font-size: 5rem;
    padding-bottom: 5%;
}
.bt-left{
    width: 100%;
    border-bottom: 1px solid #fff;
    box-shadow: 1px #fff;
    box-sizing: border-box;
    font-size: 2rem;
    float: left;
    padding-bottom: 2%;
}
ul{
    padding: 0;
}
section>div>figure>img{
    width: 100px;
}
.max-min{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.max-min>ul{
    display: flex;
    width: 100%;
}
.max{
    border-right: 1px solid #fff;
}
.max-min>ul>li{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 5px 200px;
}
.weather-box{
    width: 100%;
    padding-top: 10%;
}
.weather-box>ul{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.weather-box>ul>li{
    width: 30%;
    font-size: 1.3rem;
}
.humidity-box>div{
    padding: 0 30%;
}
.wind-box>div{
    padding: 0 25%;
}
.clouds-box>div{
    padding: 0 30%;
}
.weather-box>ul>li>p{
    text-align: center;
}
.weather-box>ul>li>div{
    display: flex;
    justify-content: space-between;
}
@media(max-width:375px){
    .all{
        width: 100%;
    }
    .icon{
        font-size: 70px !important;
        padding: 10% 0;
    }
    .temp{
        font-size: 4rem;
    }
    .today, .bt-temp{
        font-size: 1rem;
    }
    aside{
        padding-top: 15%;
    }
    .w_id{
        font-size: 1rem;
    }
    .city{
        font-size: 3rem !important;
        padding-top: 10%;
    }
    .max-min>ul>li{
        padding: 5px 30px;
        font-size: 1rem;
    }
    .humidity-box>div{
        padding: 0 10px;
    }
    .wind-box>div{
        padding: 0;
    }
    .clouds-box>div{
        padding: 0 10px;
    }
    .weather-box>ul{
        width: 100%;
    }
    .weather-box>ul>li{
        font-size: 1rem;
    }
}